go 1.21.3

use (
	./1.Two_Sum
	./1408.String_Matching_in_an_Array
	./1423.Maximum_Points_You_Can_Obtain_from_Cards
	./1456.Maximum_Number_of_Vowels_in_a_Substring_of_Given_Length
	./1672.Richest_Customer_Wealth
	./169.Majority_Element
	./1832.Check_if_the_Sentence_Is_Pangram
	./1877.Minimize_Maximum_Pair_Sum_in_Array
	./20.Valid_Parentheses
	./2042.Check_if_Numbers_Are_Ascending_in_a_Sentence
	./2068.Check_Whether_Two_Strings_are_Almost_Equivalent
	./217.Contains_Duplicate
	./2278.Percentage_of_Letter_in_String
	./2351.First_Letter_to_Appear_Twice
	./2357.Make_Array_Zero_by_Subtracting_Equal_Amounts
	./2379.Minimum_Recolors_to_Get_K_Consecutive_Black_Blocks
	./2404.Most_Frequent_Even_Element
	./2500.Delete_Greatest_Value_in_Each_Row
	./268.Missing_Number
	./2729.Check_if_The_Number_is_Fascinating
	./349.Intersection_of_Two_Arrays
	./350.Intersection_of_Two_ArraysII
	./387.First_Unique_Character_in_a_String
	./442.Find_All_Duplicates_in_an_Array
	./448.Find_All_Numbers_Disappeared_in_an_Array
	./451.Sort_Characters_By_Frequency
	./645.Set_Mismatch
	./firstAlgo
	./interfaceTask
	./makeSet
)
