go 1.21.3

use (
	./1.Two_Sum
	./169.Majority_Element
	./217.Contains_Duplicate
	./2351.First_Letter_to_Appear_Twice
	./2404.Most_Frequent_Even_Element
	./268.Missing_Number
	./349.Intersection_of_Two_Arrays
	./350.Intersection_of_Two_ArraysII
	./387.First_Unique_Character_in_a_String
	./442.Find_All_Duplicates_in_an_Array
	./448.Find_All_Numbers_Disappeared_in_an_Array
	./firstAlgo
	./makeSet
)
