go 1.21.3

use (
	./1.Two_Sum
	./1408.String_Matching_in_an_Array
	./1672.Richest_Customer_Wealth
	./169.Majority_Element
	./1877.Minimize_Maximum_Pair_Sum_in_Array
	./20.Valid_Parentheses
	./2042.Check_if_Numbers_Are_Ascending_in_a_Sentence
	./2068.Check_Whether_Two_Strings_are_Almost_Equivalent
	./217.Contains_Duplicate
	./2278.Percentage_of_Letter_in_String
	./2351.First_Letter_to_Appear_Twice
	./2404.Most_Frequent_Even_Element
	./268.Missing_Number
	./349.Intersection_of_Two_Arrays
	./350.Intersection_of_Two_ArraysII
	./387.First_Unique_Character_in_a_String
	./442.Find_All_Duplicates_in_an_Array
	./448.Find_All_Numbers_Disappeared_in_an_Array
	./451.Sort_Characters_By_Frequency
	./645.Set_Mismatch
	./firstAlgo
	./makeSet
)
